* {
	margin: 0px;
	padding: 0px;
}

html {
	font-family: sans-serif;
    line-height: 2.1rem;
}

nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 20rem;
	height: 100%;
	border-right: solid;
	border-color: grey;
}

nav header {
	color: #000;
	margin: 1rem;
	font-size: 1.7rem;
}

nav ul {
	margin-top: 1rem;
	overflow-y: auto;
	height: 90%;
}

nav ul li {

	border-top: 1px solid;
	border-top-color: grey;
	list-style: none;
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

nav ul li a {
	padding-left: 2rem;
	padding-right: 2rem;
	text-decoration: none;
	cursor: pointer;
	color: #2f2b2b;
}

main {
	margin-left: 20rem;
    padding: 2rem;
}

main header {

    text-align: left;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

main article {
 margin: 1rem;
}

main article ul {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 4rem;
}

main article ul li {
	margin-bottom: 1rem;
}

main article p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
